.inner-container {
    border: 0px solid black; /* Рамка для контейнера */
    background-color: #e2e2e2; /* Фоновый цвет для всей страницы */
    border-radius: 10px; /* Скругление углов */
    margin-bottom: 10px;
}